all:
  vars:
    ansible_connection: local
    ansible_python_interpreter: /usr/bin/python3
    project_name: order-processing-system
    app_user: oms
    app_group: oms
    app_directory: /opt/oms
    docker_directory: /opt/oms/docker
    logs_directory: /var/log/oms
    backup_directory: /backup/oms

  hosts:
    localhost:
      ansible_host: 127.0.0.1

  children:
    web_servers:
      hosts:
        nginx1:
          ansible_connection: local
          nginx_server_name: nginx-1
          nginx_port: 8091
        nginx2:
          ansible_connection: local
          nginx_server_name: nginx-2
          nginx_port: 8092
        nginx3:
          ansible_connection: local
          nginx_server_name: nginx-3
          nginx_port: 8093

    app_servers:
      hosts:
        app01:
          ansible_connection: local
          app_port: 3000

    database_servers:
      hosts:
        db01:
          ansible_connection: local
          mysql_port: 3306

    all_servers:
      children:
        web_servers:
        app_servers:
        database_servers: