global:
  checkNewVersion: true
  sendAnonymousUsage: false

# API and dashboard configuration
api:
  dashboard: true
  insecure: true  # Apenas para desenvolvimento - em produção use autenticação

# Docker entrypoints backend
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"

# Docker configuration backend
providers:
  docker:
    defaulltRule: 'Host(`{{ if index .Labels "com.docker.compose.service" }}{{ index .Labels "com.docker.compose.service" }}.aritlab.com{{ else }}{{ trimPrefix `/` .Name }}.aritlab.com{{ end }}`)'
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: true
    network: "oms_infra"
    watch: true
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

log:
  level: DEBUG
  filePath: /var/log/traefik/traefik.log

accessLog:
  filePath: /var/log/traefik/access.log
  format: json

# certificatesResolvers:
#   letsencrypt:
#     acme:
#       email: admin@${TRAEFIK_HOST:-oms.local}
#       storage: /letsencrypt/acme.json
#       httpChallenge:
        entryPoint: web

# metrics:
#   prometheus:
#     entryPoint: websecure