---
- name: Add NodeSource repository
  shell: |
    curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
  args:
    creates: /etc/apt/sources.list.d/nodesource.list

- name: Install Node.js and npm
  apt:
    name:
      - nodejs
      - npm
    state: present

- name: Install PM2 globally
  npm:
    name: pm2
    global: yes
    state: present

- name: Create PM2 startup script
  command: pm2 startup systemd -u {{ app_user }} --hp /home/{{ app_user }}

- name: Create application directory
  file:
    path: "{{ app_directory }}/app"
    state: directory
    owner: "{{ app_user }}"
    group: "{{ app_group }}"

- name: Copy application files (simulado)
  copy:
    src: ../../../../app/package.json
    dest: "{{ app_directory }}/app/package.json"
    owner: "{{ app_user }}"
    group: "{{ app_group }}"