---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common packages
  apt:
    name:
      - curl
      - wget
      - git
      - vim
      - htop
      - ufw
      - software-properties-common
      - apt-transport-https
      - ca-certificates
      - gnupg-agent
      - python3-pip
      - rsync
    state: present

- name: Set timezone
  timezone:
    name: "{{ timezone }}"

- name: Configure locale
  locale_gen:
    name: "{{ locale }}"
    state: present

- name: Create application group
  group:
    name: "{{ app_group }}"
    state: present

- name: Create application user
  user:
    name: "{{ app_user }}"
    group: "{{ app_group }}"
    system: yes
    create_home: yes
    shell: /bin/bash

- name: Create application directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ app_user }}"
    group: "{{ app_group }}"
    mode: '0755'
  loop:
    - "{{ app_directory }}"
    - "{{ docker_directory }}"
    - "{{ logs_directory }}"
    - "{{ backup_directory }}"

- name: Configure firewall - Allow SSH
  ufw:
    rule: allow
    port: 22
    proto: tcp

- name: Configure firewall - Allow HTTP/HTTPS
  ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - 80
    - 443

- name: Enable firewall
  ufw:
    state: enabled